body {
    background-color: rgb(50, 50, 50);
}

footer {
    background-color: black;
    color: lightgray;
    padding: 30px 0px;
    text-align: center;
}

h1,
h2 {
    color: white;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bolder;
}

.btn {
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    padding: 15px;
}

.hidden {
    display: none !important;
}

header {
    display: flex;
    flex-direction: row;
    background-color: black;
}

header>figure {
    flex-basis: 33%;
    margin: 0px;
    padding: 15px;
}

header>nav {
    flex-basis: 66%;
    display: flex;
    justify-content: end;
    gap: 25px;
    background-color: black;
    margin-right: 40px;
}

header>nav>.btn-nav {
    margin: auto 0px;
}

.logo {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.sectionWrapper {
    margin: 25px;
    padding: 15px;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    color: white;
    width: 100%;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    padding: 30px;
}

.difficulty>div {
    display: flex;
    justify-content: center;
    gap: 30px 30px;
    margin: 30px 0px;
}

.quiz {
    display: flex;
    gap: 15px 15px;
    background-color: transparent;
}

.quiz>* {
    padding: 15px;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
}

.quiz>.questions {
    flex-basis: 75%;
}

.quiz .questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 100%;
}

.quiz .questionContainer>.answersContainer>.form-check {
    font-size: x-large;
    margin: 20px auto;
}

.quiz .questionContainer>.answersContainer>.trueFalseContainer {
    display: flex;
    gap: 25px;
    margin-bottom: 15px;
}

.quiz .questionContainer>.answersContainer>.trueFalseContainer>.form-check {
    margin: 0px;
    padding: 0px;
}

.quiz .questionContainer>.answersContainer .btn-answer {
    font-size: x-large;
    font-weight: normal;
}

.quiz .questionContainer>.questionNav {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 0px 15px;
}

.quiz .questionContainer>.questionText {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding: 20px 20px 0px 20px;
    margin-bottom: 25px;
}

.quiz>aside {
    flex-basis: 25%;
}

.quiz>aside>h2 {
    margin-bottom: 15px;
}

.questionList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.resultPopup {
    font-size: x-large;
    font-weight: bolder;
}

.correctAndBtn {
    margin-top: 15px;
}

.correctAnsPopup {
    font-size: x-large;
    margin-top: 15px;
}