body {
    background-color: rgb(50, 50, 50);
}

footer {
    background-color: black;
    color: lightgray;
    padding: 30px 0px;
    text-align: center;
}

h1,
h2 {
    color: white;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bolder;
}

.btn {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 15px;
}

.hidden {
    display: none !important;
}

header {
    display: flex;
    flex-direction: row;
    background-color: black;
}

header>figure {
    flex-basis: 33%;
    margin: 0px;
    padding: 15px;
}

header>nav {
    flex-basis: 66%;
    display: flex;
    justify-content: end;
    gap: 25px;
    background-color: black;
    margin-right: 40px;
}

header>nav>.btn-nav {
    margin: auto 0px;
}

.logo {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
}

.sectionWrapper {
    margin: 25px;
    padding: 15px;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
    color: white;
    width: 100%;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
    padding: 30px;
}

.difficulty>div {
    display: flex;
    justify-content: center;
    gap: 30px 30px;
    margin: 30px 0px;
}

.questions {
    display: flex;
    gap: 15px 15px;
    background-color: transparent;
}

.questions>* {
    padding: 15px;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
}

.questions>.questionContainer {
    flex-basis: 75%;
}

.questions>aside {
    flex-basis: 25%;
}

.questions>aside>h2 {
    margin-bottom: 15px;
}

.questionList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}